*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.background-text {
    /* color: red; */
    font-size: 10rem;
}

h1,h2 {
    padding: 1rem 0;
}
.item {
    padding: 0.1rem 0;
}
.todoItems {
    margin-bottom: 2rem;
}
.task{
    cursor: pointer;
}
.task:hover {
    color: green;
    transition: all 100ms ease-in-out;
}

.fa-trash {
    cursor: pointer;
    font-size: 0.8rem;
    margin: 0 0.5rem;
}
.fa-trash:hover {
    color: red;
    transition: all 100ms ease-in-out;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.background {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    justify-content: center;
    align-items: flex-start;
    font-family: "Unbounded", Arial, Helvetica, sans-serif;
    color: gray;
    filter: blur(8px);
    cursor: default;
    /* background-image: linear-gradient(180deg,transparent, transparent,rgba(255, 218, 151, 0.7)); */
}

.carousel{
    margin: 3rem 0;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
}

.tags {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    width: 25rem;
    /* background: rgba(255,255,255,0.5); */
}

.tags:hover {
    scale: 1.1;
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(230, 241, 250, 0.5);
    backdrop-filter: blur(3px);
    border-color: gray;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 1rem;
}

form {
    display: flex;
    width: 75%;
    gap: 0.4rem;
}

h3,input {
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
}

input{
    appearance: none;
    border: 1px solid black;
}

input:focus{
    outline-style: solid;
}

.task-input {
    width: 50%;
}

.tag-input {
    width: 30%;
}

.form-button {
    width: 20%;
}

.form-button:hover{
    background-color: black;
    color: white;
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}