*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* max-width: 100ch; */
    margin: auto;
    line-height: 1.5;
}


h1,h2 {
    padding: 1rem 0;
}
.item {
    padding: 0.1rem 0;
}
.todoItems {
    margin-bottom: 2rem;
}
.task{
    cursor: pointer;
}
.task:hover {
    color: green;
    transition: all 100ms ease-in-out;
}

.fa-trash {
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0 0.5rem;
    padding: 0.3rem;
    /* border: 1px solid lightgray;
    color: rgb(187, 187, 187); */
    border: 1px solid transparent;
    color: transparent;
    border-radius: 3px;
}
.fa-trash:hover {
    color: red;
    border-color: red;
    transition: all 100ms ease-in-out;
}

.completed {
    color: rgb(187, 187, 187);
    text-decoration: line-through;
}

.background-text {
    /* color: red; */
    font-size: 15rem;
}

.background {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    bottom: 0rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    font-family: "Unbounded", Arial, Helvetica, sans-serif;
    color: lightgray;
    filter: blur(15px);
    cursor: default;
    /* background-image: linear-gradient(180deg,transparent, transparent,rgba(255, 218, 151, 0.7)); */
}

.carousel{
    margin: 3rem 0;
    display: flex;
    flex-flow: row wrap;
    gap: 0.6rem;
    justify-content: center;
    font-size: 1.2rem;
}

.tags {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 1rem 3rem;
    width: 30rem;
    background: rgba(255,255,255,0);
    backdrop-filter: blur(20px);
}

.tags:hover {
    scale: 1.05;
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgba(255,255,255,1);
    /* background-color: lightyellow; */
    /* background-color: rgba(255, 255, 236,0.5); */
    /* backdrop-filter: blur(3px); */
    border-color: rgba(41, 141, 255, 0.4);
    z-index: 10;
    /* box-shadow: 0 5px 30px 10px rgba(100, 100, 100, 0.5); */
    /* box-shadow: 0 5px 35px 15px rgba(41, 141, 255, 0.4); */
    box-shadow: 0 5px 35px 15px rgb(224, 224, 255);
    border-color: rgb(216, 216, 255);
}
.tags:hover .fa-trash{
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
}
.tags:hover .fa-trash:hover{
    color: red;
    border-color: red;
    transition: all 100ms ease-in-out;
}

.tag-count{
    position: absolute;
    right: 1.5rem;
    color: gray;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    /* padding-bottom: 2rem;
    padding-top: 1rem; */
    backdrop-filter: blur(10px);
    border-top: 1px solid rgb(190, 190, 190);
}

form {
    display: flex;
    /* width: 75%; */
    width: 80%;
    gap: 0.6rem;
}

h3,input {
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
}

input{
    background: rgba(255,255,255,1);
    backdrop-filter: blur(20px);
    appearance: none;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 12px;
}

input:focus{
    outline-style: solid;
}

.task-input {
    width: 55%;
}

.tag-input {
    width: 30%;
}

.task-input:hover, .tag-input:hover {
    background-color: lightyellow;
}

.form-button {
    width: 15%;
}

.form-button:hover{
    background-color: black;
    color: white;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.title{
    position: absolute;
    top: -3.5rem;
    text-align: center;
    color: gray;
}